#field{
    width: 600px;
    height: 300px;
    border: solid 5px grey;
    margin: auto;
    background-color: aquamarine;
}

.sq{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: brown;
    border: solid 1px red;
    box-sizing: border-box;
}

.input-n{
    width: 600px;
    border: solid 5px grey;
    margin: 10px auto;
    background-color: aquamarine;
    padding: 10px;
    box-sizing: border-box;
}