/* div{
    border: solid 1px black;
    width: 300px;
    height: 100px;
    background-color: aqua;
} */

p {
    margin-block-start: 0;
    margin-block-end:0;
    margin-top:0;
    margin-bottom: 0;
    box-sizing: border-box;
}